.topnav {
  background-color: #322C2B;
  position: fixed;
  width: 100% ;
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.content section {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #B99470;
  color: white;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('pattern1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  margin-top: 60px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}


/* Navigation styles */
nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

#tentang h4{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#tentang h2{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.tentang{
  background: #ccc;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
}

.tentang-r{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.tentang-r .item{
  position: static;
  width: 1000px;
  
}

.tentang-r .text{
  line-height: 1.5em;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.menu{
  background: #ddd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem;
}

.list-menu{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.list-menu .item{
  position: static;
  width: 400px;
}

.list-menu .text{
  line-height: 1.5em;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

#menu h2{
  text-align: center;
  font-weight: bold;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: calc(100% - 22px);
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

/* Confirmation styles */
.confirmation {
  margin-top: 20px;
  padding: 20px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
}

.confirmation p {
  color: #3c763d;
}
